<h1>All Blogs</h1>
<ul>
  <% blogs.forEach((blog) => { %>
  <li>
    <p>Id : <%= blog.id %></p>
    <a href="/<%= blog.id %>"><%= blog.title %></a>
    <%- include ('./partials/_delete_form.ejs', { url : `/${blog.id}` }) %>
  </li>
  <% }); %>
</ul>
<a href="/new">New Blog</a>
